*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ddd7d7;
}

header {
    padding: 20px 0;
    background-image: linear-gradient(90deg, rgb(0, 0, 0) .2%, rgb(122, 122, 122) 50%,rgb(196, 196, 196) 100%);
    color: #FFF;
    min-height: 80px;
}

header nav li {
    display: inline;
    margin-left: 48px;
    font-size: 22px;
}

header nav li a {
    color: #FFF;
    text-decoration: none;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 250px;
    margin-right: 250px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    width: 1024px;
}

.Sobre-loja {
    padding-top: 48px;
    margin-left: 250px;
    margin-right: 250px;
}

.container-sobre {
    display: flex;
    align-items: center;
}

.sobre-conteudo {
    min-height: 300px;
    max-width: 800px;
    padding: 16px;
    margin-top: -20px;
    margin-left: 48px;
}

.title {
    text-align: center;
    font-size: 30px;
}

.container-produtos {
    padding-top: 48px;
    margin-left: 250px;
    margin-right: 250px;

}

hr {
    border: 1px solid;
}

.title-produtos {
font-size: 20px;
}

.conteudo-produto {
    display: inline-block;
    padding: 20px;
}

img, .pricipal {
    padding: 8px;
}

.description {
    display: block;
    text-align: center;
    padding: 16px;
    font-size: 32px;
}

.text-description {
    font-size: 16px;
    max-width: 296px;
    padding: 8px;
    padding-left: 18px;
}

button {
    width: 196px;
    margin-left: 42px;
    margin-top: 16px;
    padding: 8px;
    font-size: 14px;
    background-color: #2bdb66;
    border: #009432;
    border-radius: 8px;
    cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    header nav li {
        margin-left: 60px;
        font-size: 22px;

    }
    
    header nav li a {
        color: #FFF;
        text-decoration: none;
    }
    
    header .container {
        width: 80%;
        display: inline-flex;
        margin-left: 15%;
    }

    .Sobre-loja {
        width: 90%;
        padding-top: 24px;
        margin-left: 41px;
        
    }
    
    .container-sobre {
        display: block;
        text-align: center;
        width: 90%;
        margin-left: 33.21px;
    }
    
    .pricipal{
        width: 90%;
    }
    .sobre-conteudo {
        width: 87.5%;
        min-height: 250px;
        margin-left: 41px;
        padding-top: 30px;
    }
    
    .title {
        text-align: center;
        font-size: 30px;
        padding-bottom: 20px;
    }

    p {
        padding-top: 20px;
    }

    .container-produtos {
        width: 87.5%;
        min-height: 250px;
        margin-left: 41px;
        padding-top: 30px;
    }
}

@media screen and (max-width: 767px)  {
    header nav li {
        margin-left: 100px;
        font-size: 16px;
    }

    header .container {
        font-size: 10px;
        margin-left: 22px;
    }

    .Sobre-loja {
        padding-top: 16px;
        margin-left: 19px;
    }
    
    .container-sobre {
        display: inline-block;
        width: 350px;
    }
    
    .pricipal{
        width: 95%;
    }

    .sobre-conteudo {
        width: 84.7%;
        min-height: 250px;
        margin-left: 23px;
        padding-top: 30px;
    }

    .container-produtos {
        width: 68.5%;
        min-height: 250px;
        margin-left: 59px;
        padding-top: 30px;
    }

    img {
        width: 100%;
    }

    .description {
        width: 90%;
    }

    .text-description {
        width: 90%;
        padding: 5px;
    }

    button {
        width: 70%;
        margin-left: 35px;
    }
}